# Add f_accessory function for usb gadget
CONFIG_USB_CONFIGFS_UEVENT=y
CONFIG_USB_CONFIGFS_F_ACC=y

# Disable USB printer support to reduce USB overhead
CONFIG_USB_PRINTER=n

# Disable ALSA sound system
CONFIG_SND=n
CONFIG_SOUND=n

# Disable bnep in bluetooth
CONFIG_BT_BNEP=n

# Disable legacy networking options
CONFIG_NET_SCH_HTB=n
CONFIG_NET_SCH_TBF=n

# Ensure that only needed protocols are enabled
CONFIG_INET=y
CONFIG_IPV6=n

# Disable some kernel debugging options
CONFIG_DEBUG_BUGVERBOSE=n
CONFIG_DEBUG_FS=n
CONFIG_KGDB=n
CONFIG_DEBUG_MEMORY_INIT=n
CONFIG_FTRACE=n
CONFIG_SLUB_DEBUG=n
